server:
  port: 8078
  servlet:
    context-path: /extbook

spring:
  application:
    name: extbook
  datasource:
    url: jdbc:postgresql://localhost:7878/extbook
    username: vova
    password: adminvova
    driver-class-name: org.postgresql.Driver
    autoCommit: false
    hikari:
      auto-commit: false
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/changelog.xml
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
  data:
    web:
      pageable:
        default-page-size: 20
        max-page-size: 100